<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js" defer></script>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- <script src = "https://cdn.plot.ly/plotly-2.12.1.min.js'"></script> -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <style>
        #feature_selector {
            padding: 10px;
            margin-top: 100px;
            border-color: red;
            /* display: none; */
        }
        .sidenav {
            height: 100%;
            /* width: 400px; */
            /* position: fixed; */
            margin: auto;
            z-index: 1;
            top: 0;
            left: 0;
            /* border-right: 0.6px solid #000000; */
            overflow-x: hidden;
            /* padding-top: 50px; */
        }
        #table_container {
            /* position: fixed; */
            /* position:absolute; left:10px;  */
            /* margin: auto; */
        }
    </style>
</head>
<body>
    <div style ="margin-top: 100px; ">
        <div class="container col-xl-3 col-sm-12 col-md-3 col-lg-3">
            <div class="sidenav">
                <div class="container col-xs-12">
                    <h4>Select or upload the file</h4>
                    <!-- For choosing file uploading or selecting option -->
                    <form>
                        <div class="form-group" id="file_upload_select">
                            <label class="radio-inline">
                                <input type="radio" name="file" onclick="render_file_uploader()" value="upload" checked>
                                Upload a file
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="file" onclick="render_file_selector()" value="upload" >
                                Choose an existing file
                            </label>
                        </div>
                    </form>
                    <!-- File Upload by default -->
                    <div id="file_upload" style="display: block;">
                        <h4>Upload a file</h4>
                        <form class = "form-inline" style="display: inline;" enctype="multipart/form-data">
                            <div class="form-group">
                                <input type="file" name="file_name" id="file_name" accept=".csv" required>
                            </div>
                            <div class="form-group" style="">
                                <button class="btn btn-success" id="upload-btn" type="button" value="upload"  onclick="read_csv_data()">
                                Upload
                                </button>
                            </div>
                        </form>
                    </div>
                    
                    <!-- File Selector(we will hide it by default) -->
                    <div id="file_list" style="display: none;">
                        <h4>Select a file</h4>
                    </div>

                </div>
            </div>
        </div>
        <div class="container col-xl-8 col-sm-12 col-md-9 col-lg-8 col-xs-12">
            <p id="df_before_processing" style="margin-top:20px; margin-bottom:20px;"></p>
            <div id="table_container" style="overflow-x:auto;">
                <table class = "table table-striped table-bordered table-sm" border = 1 id ="df_before_processing_table"></table>
            </div>
            <!-- style is done above for this div -->
            <div id = "feature_selector" style="display: none;">
                <div class="col-lg-12 col-sm-12 col-xl-12  text-center">
                    <h2>Select Feature Filtering Method</h2>
                </div>
                <form class="form-horizontal">
                    <div class="row form-group">
                        <label for="filtering-selector" class="form-label">SELECT FEATURE SELECTION METHOD</label>
                        <select class="form-select form-control" id = "filtering-selector" name="sellist1" style="margin-left: auto;margin-right: auto;">
                            <option>To be alive</option>
                            <option>What a wonderful life</option>
                            <option>Towering Mountains</option>
                            <option>Childhood</option>
                        </select>
                    </div>
                    <div class="row form-group">
                        <label for="target-selector" class="form-label">SELECT TARGET</label>
                        <select class="form-select form-control" id = "target-selector" name="sellist2" style="margin-left: auto;margin-right: auto;">
                            <option>Undying Lands</option>
                            <option>Minas Tirith</option>
                            <option>Rivendell</option>
                            <option>Mordor</option>
                        </select>
                    </div>
                    <div class="row form-group">
                        <label for="k_val" class="form-label">SELECT K VALUE</label>
                        <input class="form-control" type="number" name="k_val" id="k_val" value="Kval" style="width: 200px;">
                    </div>
                    <div class="row form-group">
                        <button class="btn btn-success btn-lg col-xs-12" id="filtering_btn" type="button" onclick="">Execute</button>
                    </div>
                </form>

            </div>

            <div id = "plot_container" style="display: none; margin-top: 100px;">
                <h2>PLOT</h2>
                <div id = "plot_div">

                </div>
            </div>
            <div id = "kbest_features_container" style="display: none;">
                <h2>K Best Features</h2>
            </div>
        </div>

    </div>
</body>


<script>
    var filepath = "";
    var res_columns = "";
    var target_candidates = "";
    const renderSelection= ()=>{
        $(".file-selector").select2({
            placeholder: "Select a file",
            allowClear : true
        });
    }
    function render_file_uploader(){
        var upload_file = document.getElementById('file_upload')
        upload_file.style.display = "block";
        var select_file = document.getElementById('file_list')
        select_file.style.display = "none"; //we need to remove the file selector in order to load file uploader
        //
    }
    function render_file_selector(){
        console.log("HI selector")
        var uploadFile = document.getElementById('file_upload')
        uploadFile.style.display = "none"
        var select_file = document.getElementById('file_list')
        select_file.style.display = "block"

        //so that we can stop regeneration of the same element multiple times on click
        var file_selector = document.getElementById("file-selector")
        if(file_selector) file_selector.remove()
        var btn_selector = document.getElementById("selector_btn")
        if(btn_selector) btn_selector.remove();

        var requestOptions = {
            method:"GET",
            redirect:"follow"
        }
        fetch("/existingFiles" , requestOptions)
        .then(response => response.text())
        .then(result=>{
            res = JSON.parse(result)

            var _div  = document.getElementById('file_list')
            var sel = document.createElement('select'); //select type of element
            sel.setAttribute("class" , "file-selector")
            sel.setAttribute("id" , "file-selector")
            sel.setAttribute("style" , "width:200px;height:30px")
            // sel.setAttribute("placeholder" ,"Please select a file")
            var opt = document.createElement("option")
            opt.setAttribute("value","")
            opt.setAttribute("disabled","disabled")
            opt.setAttribute("selected","selected")
            opt.innerHTML = "Please select a file"
            sel.appendChild(opt)
            _div.appendChild(sel)

            for(var i = 0 ; i < res.length ; i++){
                var opt = document.createElement("option")
                opt.setAttribute("value" ,res[i])
                // console.log(res[i]);
                opt.innerHTML = res[i].split("userData\\")[1]
                sel.appendChild(opt)
            }

            var btn = document.createElement("button")
            btn.setAttribute("onclick" , "set_file_path()") 
            btn.setAttribute("class" , "btn btn-success")
            btn.setAttribute("id" , "selector_btn")
            btn.setAttribute("style" , "margin-left: 50px;")
            btn.innerHTML = "Select"
            _div.appendChild(btn);
        })
        .catch(error=>console.log('error' , error));


        // renderSelection();
    };
    function read_csv_data(){
        // Stores the file attached to a remote location and copies its URL, and then displays its content by calling a method
        var input = document.querySelector('input[type="file"]')
        var input_files_list = input.files
        if(input_files_list.length == 0){
            console.log("Please select a file")
            return null;
        }
        file = input_files_list[0]
        var formData = new FormData()
        var endPoint = "/store_file"
        formData.append('file', file, file.name)

        var requestOptions = {
          method:"POST",
          body: formData,
          redirect: 'follow',          
        };
        fetch(endPoint , requestOptions)
        .then(response=>response.text())
        .then(result=>{
            result = JSON.parse(result)
            filepath = result['file_url']
            res_columns = result['columns']
            step_selector()
        })
        .catch(error=>console.log('error' , error));

    }
    function step_selector(){
        // Fetches and displays the content of the input file
        var plot_container_ele = document.getElementById("plot_container")
        plot_container_ele.style.display = "none"

        var kbest_features_container_ele = document.getElementById("kbest_features_container")
        kbest_features_container_ele.style.display = "none"

        var myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");
        var raw = JSON.stringify({
            "filepath": filepath
        });
        var requestOptions = {
            method: 'POST',
            headers: myHeaders,
            body: raw,
            redirect: 'follow'
        };
        fetch(`/df_before_processing`, requestOptions)
            .then(response => response.json())
            .then(result => {
                // df_res_before_processing = JSON.parse(result.toString().replace(null, "null"));
                // console.log(result)
                df_res_before_processing = JSON.parse(result);
                // console.log(df_res_before_processing)
                //result.replace(/\bNaN\b/g, "null")
                // console.log(df_res_before_processing)
                generate_table_output(df_res_before_processing)
                // render_feature_selection()
                fetch_target_columns() //inside this call render_feature_selection()
            })
            .catch(error => console.log('error', error));
    }
    function remove_children_nodes(element_id){
        // Deletes all the child nodes from element with id:element_id
        var _element = document.getElementById(element_id)
        if(_element === null) return null;
        while(_element.hasChildNodes()) {
            _element.removeChild(_element.children[0])
        }
    }
    function generate_table_output(res){
        // creates a table from values present in "res" and displays it

        // console.log("generateetient")
        const columns = []
        for(var col in res[0]){
            columns.push(col)
        }
        console.log(columns)

        var table_container = document.getElementById("table_container")
    
        // removing the previous table values
        remove_children_nodes("df_before_processing_table")

        let mytable = document.getElementById('df_before_processing_table')
        let thead = document.createElement('thead');
        let tbody = document.createElement('tbody');
        mytable.appendChild(thead)
        mytable.appendChild(tbody)

        table_container.appendChild(mytable)

        var row_1 = document.createElement("tr")
        for(let i = 0 ; i < columns.length ; i++){
            let hdng = document.createElement("th")
            hdng.innerHTML = columns[i]
            row_1.appendChild(hdng)
        }
        // table headings
        thead.appendChild(row_1)

        for(let idx = 0 ; idx < res.length ; idx++){
            let trow = document.createElement('tr')
            for(var val in res[idx]){
                let trow_data = document.createElement('td')
                trow_data.innerHTML = (res[idx][val] === null) ? "null" : res[idx][val]
                trow.appendChild(trow_data)
            }
            tbody.appendChild(trow)            
        }    
    }
    function render_feature_selection(){

        var _div = document.getElementById("feature_selector")
        _div.style.display = "block"

        var filtering_selector_ele = document.getElementById("filtering-selector")
        filtering_selector_ele.innerHTML = ""

        // adding OPTIONS 
        var filtering_methods = ["Chi-Square" , "Information gain" , "Fisher" , "Correlation Coefficient"]
        
        for(var i = 0 ; i < filtering_methods.length ; i++){
            var opt = document.createElement("option")
            opt.setAttribute("value" , filtering_methods[i])
            // console.log(res[i]);
            opt.innerHTML = filtering_methods[i]
            filtering_selector_ele.appendChild(opt)
        }


        var k_val_ele = document.getElementById("k_val")
        k_val_ele.setAttribute("min" , 1)
        k_val_ele.setAttribute("max" , res_columns.length - 1)

        // adding button to perform filtering
        var filtering_btn_ele = document.getElementById("filtering_btn")        
        filtering_btn_ele.setAttribute("onclick" , "perform_filtering()")

        render_target_selection()

    }
    function fetch_target_columns(_div){
        // Stores the possible target columns
        console.log("fectching_target")
        var myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");
        var raw = JSON.stringify({
            // in API parameter the name should be same
            "filepath": filepath
        });

        var requestOptions = {
            method: 'POST',
            headers: myHeaders,
            body: raw,
            redirect: 'follow'
        };
        fetch("/target_columns" , requestOptions)
        .then(response=>response.text())
        .then(result => {
            result = JSON.parse(result)
            console.log("Target COLumns")
            target_candidates = result["target-columns"]
            console.log(target_candidates)
            render_feature_selection()
            // render_target_selection(_div)

        })
    }
    function render_target_selection(_div){
        var target_selection_ele = document.getElementById("target-selector")
        target_selection_ele.innerHTML = "" // clearing previous target options
        for(var i = 0 ; i < target_candidates.length ; i++){
            var opt = document.createElement("option")
            opt.setAttribute("value" ,target_candidates[i])
            console.log(target_candidates[i]);
            opt.innerHTML = target_candidates[i]
            target_selection_ele.appendChild(opt)
        }
        if(target_selection_ele.innerHTML === ""){
            // No target element
            console.log("No target possible")
            var opt = document.createElement("option")
            opt.setAttribute("value" ,"NONE")
            opt.setAttribute("disabled" , "disabled")
            opt.innerHTML = "NONE"
            target_selection_ele.appendChild(opt)
        }
    }
    function set_file_path(){
        filepath = document.getElementById("file-selector").value;
        console.log("fpath " , filepath)
        var myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");

        var raw = JSON.stringify({
            // in API parameter the name should be same
            "filepath": filepath
        });

        var requestOptions = {
            method: 'POST',
            headers: myHeaders,
            body: raw,
            redirect: 'follow'
        };
        fetch('/selected_file_columns', requestOptions)
            .then(response => response.text())
            .then(result => {
                console.log("my calls")
                res = JSON.parse(result);
                console.log(res);
                res_columns = res['columns'];
                console.log(res_columns)
                step_selector();

            })
            .catch(error => console.log('error', error));
    }
    function perform_filtering(){
        console.log("perform_filtering")
        
        var method_selected = document.getElementById("filtering-selector").value
        var k_selected = document.getElementById("k_val").value
        var target_selected = document.getElementById("target-selector").value
        
        console.log(target_selected) 
        console.log(method_selected)
        console.log(k_selected)
        console.log(filepath)

        if(method_selected === "" || k_selected === "" || target_selected === ""){
            console.log("Select valid values")
            return null;
        }
        
        var myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");
        var raw = JSON.stringify({
            // in API parameter the name should be same
            "method": method_selected,
            "filepath": filepath,
            "target": target_selected,
            "kval":k_selected
        });

        var requestOptions = {
            method: 'POST',
            headers: myHeaders,
            body: raw,
            redirect: 'follow'
        };
        fetch("/feature_selection" , requestOptions)
        .then(response=>response.text())
        .then(result => {
            result = JSON.parse(result)
            // console.log(result)
            console.log(res_columns)
            if(method_selected == "Correlation Coefficient"){
                mat_val = result["corr_mat"]
                console.log(mat_val)
                create_plot_corr_coeff(mat_val)
            }
            else{
                x_val = result["labels"]
                y_val = result["values"]
                console.log(x_val)
                console.log(y_val)
                create_plot(x_val , y_val)
            }
            create_kbest_list(result["best-features"])
        })
    }
    function create_plot_corr_coeff(mat){
        updated_mat = mat
        for(var i = 0 ; i < mat.length ; i++){
            updated_mat[i] = mat[i].map(function(each_element){
                return Number(each_element.toFixed(2));
            });
        }
        console.log(updated_mat)
        var data = [
            {
                z: mat,
                x: res_columns,
                y: res_columns,
                type: 'heatmap',
                hoverongaps: false
            }
        ];
        var layout = { 
                annotations: [],
                width: 850,
                height: 850
        };
        for(var i = 0 ; i < res_columns.length ; i++){
            for(var j = 0 ; j  < res_columns.length ; j++){
                if(updated_mat[i][j] < -0.2 || updated_mat[i][j] > 0.6){
                    // for changing the annotations color, for better readability
                    var textColor = 'white'
                }
                else{
                    var textColor = "black"
                }
                var result = {
                    xref: 'x1',
                    yref: 'y1',
                    x: res_columns[i],
                    y: res_columns[j],
                    text: updated_mat[i][j],
                    showarrow: false,
                    font: {
                        color: textColor
                    }
                }
                layout.annotations.push(result)
            }
        }
        var plot_ele = document.getElementById("plot_container")
        plot_ele.style.display = 'block'
        Plotly.newPlot("plot_div" , data , layout , auto_open=false)
    }
    function create_plot(x_val , y_val){
        var plotData = [
                {
                    x : x_val,
                    y : y_val,
                    type: 'bar' 
                }
            ];
            var layout = {barmode: 'stack' , 
                width: 600,
                height: 600
            };

            var plot_ele = document.getElementById("plot_container")
            plot_ele.style.display = 'block'
            Plotly.newPlot("plot_div" , plotData , layout , auto_open=false)

    }
    function create_kbest_list(kbest_features){
        var _div = document.getElementById("kbest_features_container")
        _div.style.display = "block"
        var prev_ol = document.getElementById("ol_kbest_features")
        if(prev_ol) prev_ol.remove()

        var ordered_list = document.createElement("OL")
        ordered_list.setAttribute("class" , "list-group list-group-numbered")
        ordered_list.setAttribute("id" , "ol_kbest_features")
        ordered_list.setAttribute("style" , "list-style-position: inside;")
        for(var i = 0 ; i < kbest_features.length ; i++){
            var nlist = document.createElement("li")
            nlist.setAttribute("class","list-group-item")
            nlist.setAttribute("style" , "display:list-item;")
            nlist.innerHTML = kbest_features[i]
            ordered_list.appendChild(nlist)
        }

        _div.appendChild(ordered_list)

    }
</script>